name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Running tests
    runs-on: ubuntu-latest

    services: 
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']

    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2

      - name: Install Dependencies
        run: |
          sudo apt install -yqq libpq-dev
          gem install bundler -v 2.4.22

      - name: Install Gems
        run: |
          bundle install

      - name: Setup database and test with rspec
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgre
          RAILS_ENV: test
          WITH_COVERAGE: true
          DISABLE_SPRING: 1
        run: |
          bundle exec rails db:prepare
          bundle exec rspec spec

      - name: Create Coverage Artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage/
